<header style="background-color: gray;display: flex; justify-content: space-between;">
    <div>
        Hier ist logo
    </div>

    <div>
        <nav>
            <ul style="list-style: none; display: inline-flex; gap: 10px">
                <li>
                    <a *ngIf="!userService.isLoggedIn()" [routerLink]="['/login']" [routerLinkActive]="'is-active'">Login</a>
                    <span *ngIf="userService.isLoggedIn()">{{ userService.getUser()?.username }}</span>
                </li>
                <li><a [routerLink]="['/users']" [routerLinkActive]="'is-active'">Users</a></li>
                <li><a [routerLink]="['/books']" [routerLinkActive]="'is-active'">Books</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- <button (click)="navigateToUsers()">Users</button> -->

<router-outlet></router-outlet>


<!-- <a [routerLink]="['/search', 'users', id, 'filter']">Google link</a>
<a [routerLink]="['/search', 'users', id, 'filter']">Google link</a> -->
<!-- 
google.com/search/users/1/filter?name=annabel

/search/users/:id/filter

Url Tree

    Router segments
        search
        users        
            1 // router parameter
        filter

    Query segments
        name: annabel // query parameter -->